In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import plotly_express as exp

In [2]:
df = pd.read_csv('./data/total.csv', sep=';', decimal = ',')

/home/alvaro/d-projects/venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head(3)

,codigo,status,situacao_debito,codigo_boleto,valor_debito,data_debito,operacao_origem,baixa_boleto,data_vencimento,data_pagamento,codigo_atendente,nome_atendente,quem_debitou,debitos_cliente,dias_corridos,valor_principal
0,11,X,QUITADO,88,1.0,07/05/2014,VENDAS,00000011,20/05/2014,16/05/2014,5.0,NELCI,NELCI RODRIGUES FERREIRA,/ /,0,0.0
1,11,X,QUITADO,281,23.2,16/05/2014,VENDAS,00000011,20/05/2014,16/05/2014,1.0,MARCELO ANDRIOLI,NELCI RODRIGUES FERREIRA,/ /,0,0.0
2,11,X,QUITADO,282,274.0,16/05/2014,VENDAS,00000012,20/05/2014,16/05/2014,1.0,MARCELO ANDRIOLI,NELCI RODRIGUES FERREIRA,/ /,0,0.0

In [4]:
df.dtypes

codigo               object
status               object
situacao_debito      object
codigo_boleto         int64
valor_debito        float64
data_debito          object
operacao_origem      object
baixa_boleto         object
data_vencimento      object
data_pagamento       object
codigo_atendente    float64
nome_atendente       object
quem_debitou         object
debitos_cliente      object
dias_corridos         int64
valor_principal      object
dtype: object

In [5]:
del df['status']
del df['codigo_boleto']
del df['baixa_boleto']
del df['debitos_cliente']
del df['valor_principal']
del df['nome_atendente']
del df['codigo_atendente']

In [6]:
df.columns

Index(['codigo', 'situacao_debito', 'valor_debito', 'data_debito',
       'operacao_origem', 'data_vencimento', 'data_pagamento', 'quem_debitou',
       'dias_corridos'],
      dtype='object')

In [7]:
df['operacao_origem'].unique()

array(['VENDAS', 'RESIDUO'], dtype=object)

In [8]:
df['situacao_debito'].unique()

array(['QUITADO', 'DEVEDOR'], dtype=object)

In [9]:
df.groupby('situacao_debito').agg({'valor_debito': 'sum'})

                 valor_debito
situacao_debito
DEVEDOR              29364.91
QUITADO            1047444.69

In [13]:
df.dtypes

codigo              object
situacao_debito     object
valor_debito       float64
data_debito         object
operacao_origem     object
data_vencimento     object
data_pagamento      object
quem_debitou        object
dias_corridos        int64
dtype: object

In [17]:
type(df['data_pagamento'][0])

str